.customer-reviews{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    flex-wrap: wrap;

}
.card{
    width: 21%;
    box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.61);
    -webkit-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.61);
    -moz-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.61);
    margin: 10px;
    height: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.card h1{
    color: rgb(0, 37, 75);
    
}
.card p{
    margin: 20px 0px;
    padding: 20px;
    border-radius: 5px;
    background-color: aliceblue;

}
.card small{
    background-color: rgb(92, 169, 236);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.link{
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    cursor: pointer;
    text-decoration: none;
    color: black;
}