.blogs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}
.blog-item{
    width: 70%;
    padding: 20px;
    box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.61);
    -webkit-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.61);
    -moz-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.61);
    margin: 10px 0px;
}